<!DOCTYPE>
<html lang="sv">
<head>
	<meta charset="utf-8" />
	<title>SpaceTalk</title>
	

	<style>

		body { 
			font-family: sans-serif;
			width: 500px;
			margin: auto;
			}

			p:nth-child(3) {
				background:blueviolet;
			}

			#idtest {
				background-color: rgba(145, 4, 145, 0.5);
			}

			#disklänk {
				font-size: 50%;
				float: right;
			}

			img.float{
			    float:  right;
				width:  50%;
				border: 2px solid black;
								
            }
			
			p, h1{
		color:white;
		 font-size:350%;
		 float: middle;
		 width: 50%;
			}

			tr {
				color:white;
			}

			td, table {
				border: 1px solid yellow;
				border-collapse: collapse;
			}

			img.test {
				vertical-align: text-bottom;
			}

			li, ul, dl{
				color: white;
				font-size:150%;
				float: middle;
				list-style: none;			
			}

			table tr {
				background-color: hsla(9, 100%, 36%, 0.4);
			}

			a:visited {
				color: rgb(65, 13, 207);
			}

			a:link {
				background-color: rgba(240, 240, 4, 0.6);
			}

			span {
				font-size: 0.6em;
			}

			h3 {
				font-size: 0.5ex;
			}

			thead {color:rgb(105, 255, 68);}
			tbody {color:rgb(250, 76, 183);}			
			tfoot {color:rgb(#00FFFF);}
			
			#rundahörnbild {
				border-radius: 50px;
				background: url(Welcome.jpg);
				background-repeat: repeat;
				padding: 20px; 
				width: 400px;
				height: 200px;  
			}

			#grad {
				height: 200px;
				background-color: rgba(255, 5, 5, 0); /* For browsers that do not support gradients */
				background-image: linear-gradient(rgba(255, 5, 5, 0),rgba(255, 5, 5, 0.2), rgba(255, 5, 5, 0) );

			.grid-container {
				display: grid;
				grid-template-columns: auto auto auto auto auto auto;
				grid-gap: 10px;
				background-color: #2196F3;
				padding: 10px;
			  }
			  
			  .grid-container > div {
				background-color: rgba(255, 255, 255, 0.856);
				text-align: center;
				padding: 20px;
				font-size: 30px;
			  }
				
				.itemtop {
					grid-column-start: 2;
					grid-column-end: 6;
					color: black;
					}
				
			  .item1 {
				grid-column-start: 4;
				grid-column-end: 6;
			  }
			  /* Bestämmer bredden på gridsen med titel och bild till tråd */		
			  .item2 {
				  grid-column-start: 2;
				  grid-column-end: 3;
			  }
		
	</style>

<div class="grid-container">
  <div class="item1">1</div>


</body>
</head>
</html>