<!DOCTYPE>
<html lang="sv">
<head>
	<meta charset="utf-8" />
	<title>SpaceTalk</title>
	

	<style>

			p:nth-child(3) {
				background:blueviolet;
			}

			#idtest {
				background-color: rgba(145, 4, 145, 0.5);
			}

			img.float{
			    float:  right;
				width:  50%;
				border: 2px solid black;
								
            }
			
			p, h1{
		color:white;
		 font-size:350%;
		 float: middle;
		 width: 50%;
			}

			tr {
				color:white;
			}

			td, table {
				border: 1px solid yellow;
				border-collapse: collapse;
			}

			img.test {
				vertical-align: text-bottom;
			}

			li, ul, dl{     /* Färgen på texten i listor */
				color: white;
				font-size:150%;
				float: middle;
				list-style: none;			
			}

			table tr {
				background-color: hsla(9, 100%, 36%, 0.4);
			}

			a:visited {
				color: rgb(65, 13, 207);
			}

			a:link {
				background-color: rgba(240, 240, 4, 0.6);
			}

			span {
				font-size: 0.6em;
			}

			h3 {
				font-size: 0.5ex;
			}

			form {
				bottom: 50px;
			}

			#skrivenkomm {   /* Postion för de skrivna kommentarerna samt bredden/höjden */
				width: 700px;
				height: 100px;
				position: absolute;
				bottom: 50px;
				left: 8%;
			}

			#trespaltslayout {
				float: left;
				width: 33.33%;
				padding: 20px;
			}

			#kommentar {     /* Positionen för rutan där man ska skriva sin kommentar samt */
				width: 500px;  
				height: 100px;
				position: absolute;
				left: 430px;
				top: 200px;
			}

			label, legend {
				color: beige; 
			}

			thead {color:rgb(105, 255, 68);}
			tbody {color:rgb(250, 76, 183);}			
			tfoot {color:rgb(#00FFFF);}
			
			#rundahörnbild {
				border-radius: 50px;
				background: url(Welcome.jpg);
				background-repeat: repeat;
				padding: 20px; 
				width: 400px;
				height: 200px;  
			}

      #diskbild1{     /* Bilderna för diskussionen i forumet */
				position: absolute;
				bottom: 650px;
				left: 100px;
				border: 4px solid white;
			}

			#diskbild2{
				position: absolute;
				bottom: 450px;
				left: 100px;
				border: 4px solid white;
			}

			#diskbild3{
				position: absolute;
				bottom: 250px;
				left: 100px;
				border: 4px solid white;
			}

			#disklänk1 {      /* Länkarna för diskussionen i forumet */
				font-size: 35%;
				position: absolute;
				left: 350px;
				bottom: 700px;
			}

			#disklänk2 {
				font-size: 35%;
				position: absolute;
				left: 350px;
				bottom: 500px;
			}

			#disklänk3 {
				font-size: 35%;
				position: absolute;
				left: 350px;
				bottom: 300px;
			}

			#grad {
				height: 200px;
				background-color: rgba(255, 5, 5, 0);
				background-image: linear-gradient(rgba(255, 5, 5, 0),rgba(255, 5, 5, 0.2), rgba(255, 5, 5, 0) );
			}

			.grid-container {   /* Den gråa bottendelen i forumsdelen */
				display: grid;
				grid: 760px / auto auto auto auto auto auto;
				grid-gap: 20px;
				padding: 10px;
				color: black;
				width: 50%;
				background-color: gray;
			
				position: absolute;
				top: 120px;
				left: 50%;
				margin-right: -50%;
				transform: translate(-50%, 0%) 
			}
			
									.grid-container {
				background-color: rgb(136, 133, 133);
				text-align: center;
				padding: 20px 0;
				font-size: 30px;
				border: 4px solid white;
			
				top: 140px;
				width: 960px;
			}				

				.tgrid-container {     /* Den svarta toppen i forumsdelen */
					display: grid;
					grid: 100px / auto auto auto auto auto auto;
					grid-gap: 10px;
					padding: 10px;
					color: black;
					width: 50%;
					background-color: rgb(136, 133, 133);
				
					position: absolute;
								left: 50%;
								margin-right: -50%;
								transform: translate(-50%, 0%)
				
				}
				
				
										.tgrid-container {
					background-color: rgb(0, 0, 0);
					text-align: center;
					padding: 20px 0;
					font-size: 30px;
					border: 4px solid white;
					top: 0px;
				
				}
		
	</style>


</body>
</head>
</html>