<!DOCTYPE>
<html lang="sv">
<head>
	<meta charset="utf-8" />
	<title>SpaceTalk</title>
	<link rel="shortcut icon" type="image/png" href="Jupiter.png">
</head>
	<body background="stars.jpg">
	

	<style>
		body { 
			font-family: sans-serif;
			width: 500px;
			margin: auto;
			}
			img.float{
			    float:  right;
				width:  50%;
				border: 2px solid black;
								
            }
			
			p, h1{
		color:white;
		 font-size:350%;
		 float: middle;
		 width: 50%;

		 a{
	display:block;
    text-decoration:none;
	background-color: aqua;
	display: block;
    padding: 8px;
    background-color: #dddddd;
	}
	
	ul{
	list-style: none	
	list-style-type: none;
    margin: 0;
    padding: 0;
    height: 3.5%;
    background-color: gray;
    width: 100%; 
    position: fixed; 
    overflow: auto;
	}
	
	li{
	margin: 0;
	display: inline-block;
	float: left;	
		}
		
	nav{
	width: 122px;	
	background-color black;
	width: 100%;
	}
	
	a.hov:hover
	{
      background-color: yellow;	  
	    }
		
		a.active {		
    background-color: green;
    color: white;
}

		}
		

	</style>	
			
		 
<body>
	<p>
		Test
	</p>

	<h1>
        Test
	</h1>

	<nav>
	
			<ul>
		
				<li><a class="active" href="">Hem</a></li>
				<li><a class="hov" href="">Forum</a></li>
				<li><a class="hov" href="">Merch</a></li>
				<li><a class="hov" href="">Om oss</a></li>
		
			</ul>  
		   
		</nav>


</body>
</html>